PORT=5000
MONGODB_URI=mongodb+srv://yashlotankar777:yash1109@yash.zo7hnqe.mongodb.net/
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
NODE_ENV=development
ADMIN_SECRET=fittrack_admin_secret_2024
